<div class="event-dialog">
  <h1 mat-dialog-title>Event</h1>
  <form [formGroup]="eventForm" (ngSubmit)="save()">
    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="isRequired('title')">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          formControlName="start"
          [matDatepicker]="startPicker"
          (click)="startPicker.open()"
          (keydown.enter)="startPicker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
        <mat-error *ngIf="isRequired('start')">Start date is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input matInput [ngxTimepicker]="startTimePicker" [format]="24" formControlName="startTime" />
        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
        <mat-error *ngIf="isRequired('startTime')">Start time is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input
          matInput
          formControlName="end"
          [matDatepicker]="endPicker"
          [min]="minEndDate"
          (click)="endPicker.open()"
          (keydown.enter)="endPicker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        <mat-error *ngIf="isRequired('end')">End date is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput [ngxTimepicker]="endTimePicker" [format]="24" formControlName="endTime" />
        <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
        <mat-error *ngIf="isRequired('endTime')">End time is required</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-button (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
