<div class="event-list">
  <mat-toolbar color="primary">
    <h1>All Events</h1>
  </mat-toolbar>
  <mat-list>
    @for (event of events$ | async; track event.id) {
      <mat-card>
        <mat-list-item (click)="viewEvent(event)">
          <h3 matListItemLine>{{ event.title }}</h3>
          <p matListItemLine>{{ event.description }}</p>
          <p matListItemLine>Starts: {{ event.start | date: 'medium' }}</p>
          <p matListItemLine>Ends: {{ event.end | date: 'medium' }}</p>
        </mat-list-item>
      </mat-card>
    }
  </mat-list>
</div>
