<div class="daily-view-container">
  <mat-toolbar color="primary">
    <span>Daily View</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="navigateBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="navigateForward()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-toolbar>

  <div class="timeline">
    <div #hoursLabel class="hour-labels">
      @for (hour of hours; track $index) {
        <div class="hour-label">{{ hour }}</div>
      }
    </div>

    <div
      #eventsContainer
      class="events"
      cdkDropList
      (cdkDropListDropped)="onDropHandler($event)"
      (click)="onEventContainerClick($event)"
    >
      @if (events) {
        @for (event of events; track event.id) {
          <div
            click-stop-propagation
            class="event-block"
            [ngStyle]="getEventStyle(event)"
            cdkDrag
            (cdkDragStarted)="onDragStartedHandler($event, event)"
            (click)="onEventClickHandler(event)"
          >
            <div class="event-content">
              <span class="event-title">{{ event.title }}</span>
              <span class="event-time">{{ event.start | date: 'shortTime' }} - {{ event.end | date: 'shortTime' }}</span>
            </div>
          </div>
        }
      } @else {
        <div class="spinner">
          <mat-spinner />
        </div>
      }
    </div>
  </div>
</div>
