.container {
  display: flex;

  .calendar {
    flex: 0.3;

    .spacer {
      flex: 1 1 auto;
    }

    mat-toolbar {
      background-color: #1976d2;
      color: white;
      padding: 20px;
    }
  }

  cal-daily-view {
    flex: 1;
  }

  cal-weekly-view {
    flex: 1;
  }
}
