<div class="container">
  <div class="calendar">
    <mat-toolbar color="primary">
      <mat-icon>event</mat-icon>
      <span>My Calendar</span>
      <span class="spacer"></span>
      <button mat-raised-button (click)="toggleView()">
        {{ selectedView === CALENDAR_VIEWS.WEEKLY ? "Switch to Daily View" : "Switch to Weekly View" }}
      </button>
    </mat-toolbar>
    <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChangeHandler($event)" />
  </div>

  @if (selectedView === CALENDAR_VIEWS.DAILY) {
    <cal-daily-view
      [date]="selectedDate"
      (onNavigateForward)="onNavigateForwardHandler()"
      (onNavigateBack)="onNavigateBackHandler()"
    />
  }

  @if (selectedView === CALENDAR_VIEWS.WEEKLY) {
    <cal-weekly-view [date]="selectedDate" />
  }
</div>
