<div class="weekly-view">
  @for (day of daysOfWeek; track day) {
    <div class="day-column">
      <div class="day-header">{{ day | date: "EEEE, MMM d" }}</div>
      <div class="event-container" (click)="onContainerClickHandler(day)">
        @for (event of getEventsForDay(day) | async; track event.id) {
          <div clickStopPropagation class="event" (click)="onEventClickHandler(event)">
            <div class="event-time">{{ event.start | date: "shortTime" }} - {{ event.end | date: "shortTime" }}</div>
            <div class="event-title">{{ event.title }}</div>
            <div class="event-description">{{ event.description }}</div>
          </div>
        }
      </div>
    </div>
  }
</div>
